<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>

    <h1>Hello! This is Login Page.</h1>

    <form action="/login" method="POST">

        <p>Email:<input type="email" name="email"></p>
        <p>Password:<input type="password" name="password"></p>
        <button type="submit">Login</button> <a href="signup">Signup</a>
        <p><a href="/">Click here to go to homepase.</a></p>

    </form>
    
</body>
</html>